specification/out/pdf/ditaweb-review-a.pdf
specification/out/pdf/ditaweb-review-b.pdf
specification/out/pdf/ditaweb-review-e.pdf
**/temp
**/out
*.pdf
specification/out/pdf/ditaweb-review-c.pdf
*.pdf
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
