
body {
  background: #ffffff;
  color: #000000;
  margin: 14px;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
}

h1.topictitle1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	list-style-type: decimal;
	color: #66116D;
}

h2.sectiontitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	list-style-type: decimal;
	color: #66116D;
}

pre.codeblock {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	/*background-color: #9999FF;*/
	background-color: #eeeeff;
	margin-left: 10%;
	margin-right: 10%;
	border-top-style: solid;	
	border-width: 1px;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	white-space: pre;
}

span.keyword {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: italic;
}


div.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-left: 50px;
	margin-right: 50px;
}

ul.linkpreviews {
    background-color: #FFFCCC;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	list-style-type: none
}

ul.ullinks {
    background-color: #FFFCCC;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	list-style-type: none
}

dt.oasis-style-reference {
	font-weight: bold;
	color: #66116D;
}

thead {
background-color: #CC99FF;
}

th {
background-color: #CC99FF;
}

.RFC-2119 {
    font-weight: bold;
	font-style: normal;
}

.title > .parameterentity,
.title > .xmlatt,
.title > .xmlelement,
.title > .xmlpi {
	font-family: inherit; 
	font-weight: inherit;	
	font-style: inherit;
}


